@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background: #B8BFC6;
  min-height: 100vh; /* Минимум на весь экран, но растягивается под контент */
  width: 100%;
}

/* Main container */
#Main_div_container {
  min-height: 85vh; /* Минимум на весь экран, но растягивается под контент */
  width: 1440px;

  background-image: url('Photo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#headr_con,
#footer_con {
  height: 170px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#headr_con {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head_con_pic {
  position: relative;
  left: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 195px;
}

#head_con_search {
  display: flex;

  align-items: center;
gap:20px;
  height: 130px;
  width: 394px;
}
#head_lister{
  list-style: none;}
.lung{

margin-top: 10px;
  color: white;
  text-align: center;
width: 100px;
height: 20px;
background-color:#585B5B;
border: 4px solid #515454;
border-radius: 15px;
}


#head_con_main {
  display: flex;
  justify-content: center;
  align-items: center;
min-height: 1830px; /* Минимальная высота */
  width: 618px;
  margin-left: 100px;
}

#head_main {
  list-style: none;
  display: flex;
  gap: 20px;
}
#head_main li {

  font-family: 'Marko One', cursive;
  font-size: 15px;
  color: white;
  text-align: center;

  /* Кнопка */
  height: 34px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #585B5B;
  border: 5px solid #515454;
  border-radius: 15px;


  line-height: normal;
}

#head_main li:first-of-type {
  margin-left: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
#geo {
  height: 90px;
  width: 174px;
  background-image: url('Georgia1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#main_con{
  display: flex;
  justify-content: center;
  align-items: center;

  color:white;
  min-height: 2166px; /* Минимум на весь экран, но растягивается под контент  */
  width: 100%;
  overflow-wrap: break-word; /* Перенос длинных слов */
  word-wrap: break-word;
}
#container_photo{
  display: flex;

  justify-content: center;

  width: 90%;
  min-height: 2000px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px


}

.name_2,.name_23{
  font-family: 'Marko One', cursive;
  font-size: 30px;
  position: relative;
  top:30%;


}

.name3{
top: 0px





}

.posts{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* ИСПРАВЛЕНО: Добавил align-items для выравнивания по верху в рядах */
  color:black;
  height: auto; /* ИСПРАВЛЕНО: Убрал фиксированный height 900px, теперь auto для подстройки под контент */
  width: 100%;
  gap: 15px; /* ИСПРАВЛЕНО: Добавил gap для равномерных отступов между элементами (вместо margin-top на каждом) */
}
.post-item{
  display: flex;
  flex-direction: column; /* ИСПРАВЛЕНО: Сделал flex column для вертикального стека title/img/date внутри элемента */
  align-items: center; /* Центрирование содержимого по горизонтали */
  padding: 20px;
  color:white;

  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  height:30%;
  width: 260px;
  flex: 0 0 260px; /* ИСПРАВЛЕНО: Добавил flex-basis для фиксированной ширины без растяжки */
}
.post-item h2{
  text-align: center;
}
.post-item img{

  position: relative;

  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;

}
img{

  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

#Con2{

}
.posts1{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  color:black;
  height: 100%;
  width: 100%;

}
.post-item1{
  font-size: 15px;

  display: block;
  height: 100%;
  width: 100%;

  align-items: center;
  color:white;

}
.post-item1 h1{
  text-align: center;
}
.post-item1 p{
  font-size: 20px;
  text-align: left;

}
.post-item #ff{
  margin-left: 60%;
  text-align: center;
display: inline-block;
background-color: #242424;
height: 20px;
width: 100px;
border: 1px solid black;
border-radius: 10px;

}
#footer_con{
  margin-top: 750px;
  display: flex;
  justify-content: center;
  align-items: center;

}


#myImage:hover {
    color: #bbb;
    cursor:pointer;
}

#block{
  font-family: 'Marko One', cursive;
  font-size: 15px;
  color: white;
  text-align: center;
  height: 80%;
  width: 90%;

}
#media{

  display: flex;
  justify-content: center;
  align-items: center;
}
#media_con  li{
  display: inline-block;

}
.meedia{
  height: 70px;
  width: 68px;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;

}
#tgk{
background-color: #28A7E8;
background-image: url('tgk.png');
background-repeat: no-repeat;
background-size:cover;
}
#facebook{
background-color: #0866FF;
background-image: url('face.png');
background-repeat: no-repeat;
background-size:cover;
}
#inst_new{
background-color: #9806BC;
background-image: url('inst.png');
background-repeat: no-repeat;
background-size:cover;
}
#myModal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;  /* Модал занимает всю ширину экрана */
    height: 100%;
    overflow: auto;  /* Скролл для всего модала */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}


#img01 {

    margin: auto;
    display: block;
    height: 600px;
    width: 600px;
}
#gf {
    margin: auto;
    display: block;
    text-align: center; /* Выравнивание текста по центру */
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;  /* Чтобы кнопка была сверху */
}

.close:hover {
    color: #bbb;
}
